<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="marca">Marca </label>
            <select [(ngModel)]="marcaSelecionada" id="marca" name="marca" class="form-control" (change)="carregarVeiculos(marcaSelecionada.id)">
                <option selected>Selecione...</option>
                <option *ngFor="let item of marcas" [ngValue]="item">{{item.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="veiculo">Veiculo</label>
            <select [(ngModel)]="veiculoSelecionado" id="veiculo" name="veiculo" class="form-control">
                <option selected>Selecione...</option>
                <option *ngFor="let item of veiculos" [ngValue]="item">{{item.name}}</option> 
            </select>
        </div>
    </div>

    <div class="form-group">

        <button type="submit" class="btn btn-primary" (click)="pesquisarFipe()">Pesquisar</button>
    </div>


</form>

<div class="row"></div>

<div class="form-row"  >
    <div class="form-group col-md-12">

            <div class="spinner-border" role="status" *ngIf="spinner" >
                    <span class="sr-only">Loading...</span>
                  </div>


        <table class="table">
            <thead class="thead-dark" *ngIf="fipeList.length >= 1">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ano</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Alteração (R$)</th>
                    <th scope="col">Diferença (%)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of fipeList ; let i = index" >
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.preco.ano_modelo}}</td>
                    <td>{{item.preco.preco == 0 ? '-': item.preco.preco}}</td>
                    <td>{{item.preco.diferenca == 0 ? '-' : item.preco.diferenca | currency:'BRL'}}</td>
                    <td>{{item.preco.percentual == 0 ? '-' : item.preco.percentual + ' % em relação a ' + item.preco.anoAnterior}}</td>
                </tr>
               
            </tbody>
        </table>



    </div>
</div>